
  .u-section-1 {
    background-image: url("/static/images/jh.jpg");
    background-position: 50% 50%;
    min-height: 686px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    pointer-events: auto;
    width: calc(((100% - 1140px) / 2) + 1140px);
    margin: 0 0 0 auto;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 686px;
    pointer-events: auto;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 40px 0;
  }
  
  .u-section-1 .u-text-1 {
    text-align: left;
    font-weight: 700;
    text-transform: none;
    font-family: Raleway, sans-serif;
    font-size: 3rem;
    margin: 133px 0 0 40px;
  }
  
  .u-section-1 .u-text-2 {
    font-style: italic;
    line-height: 1.8;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px 60px 0 40px;
  }

  .u-text .u-text-body-alt-color .u-text-2 .submit { 
    color: black;
  }

  
  .u-section-1 .u-btn-1 {
    background-image: none;
    border-style: none;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 31px auto 0 40px;
    padding: 15px 44px 17px;
  }
  
  .u-section-1 .u-image-1 {
    min-height: 686px;
    pointer-events: auto;
    background-image: url("/static/images/5807340-min.png");
    background-position: 0% 50%;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 0 20px 30px 50px;
  }
  
  @media (max-width: 1199px) {
     .u-section-1 {
      min-height: 590px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: calc(((100% - 940px) / 2) + 940px);
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 590px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 12px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-2 {
      margin-left: 0;
    }
  
    .u-section-1 .u-btn-1 {
      margin-left: 0;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 590px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-1 {
      min-height: 416px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: calc(((100% - 720px) / 2) + 720px);
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 416px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.25rem;
      margin-top: 133px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 0.875rem;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 416px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 30px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-1 {
      min-height: 508px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: calc(((100% - 540px) / 2) + 540px);
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 50px;
      padding-right: 230px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 393px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-1 {
      min-height: 312px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: calc(((100% - 340px) / 2) + 340px);
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 40px;
      padding-right: 60px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 260px;
    }
  }
