{% extends 'base.html' %}

{% block head %}

<title>
    {Question Template}
</title>

{% endblock %} 

{% block body %}

--<div class = "content">
    <h1> 

        {% for problem in problems %}
            {{problem[0]}}
        {% endfor %}
    
    </h1>

    <form action="/display-exam" method="POST">

        <input type="radio" name="answer_choice" id="a" value="A">
        <label for="a">Answer A</label><br>

        <input type="radio" name="answer_choice" id="b" value="B">
        <label for="b">Answer B</label><br>

        <input type="radio" name="answer_choice" id="c" value="C">
        <label for="c">Answer C</label><br>

        <input type="radio" name="answer_choice" id="d" value="D">
        <label for="d">Answer D</label><br>

        <input type="submit" value="submit"/>
            
    </form>

    <!--<table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href = "/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href = "/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <form action = "\" method = "POST">
        <input type = "text" name = "content" id ="content">
        <input type = "submit" value = "Add Task">
    </form>-->
</div>

{% endblock %} 